In [1]:
import pandas as pd

In [2]:
#cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_ = 'C:/Users/Ramiro Antonio/Documents/ironhack_labs/lab-import-export/your-code/vehicles_messy.csv'

In [3]:
DataFrameInicial = pd.read_csv(tst_)
DataFrameInicial

C:\Users\Ramiro Antonio\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37838,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37839,14.330870,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37840,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37841,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37842,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [13]:
ColumnasNulas = DataFrameInicial.isnull().sum()  #Te dice una serie con los listados de las columnas que tienen nulos
ColumnasNulas

ColumnasNulas[ColumnasNulas < 100]     #Te dice que seleccioens las que tinene menos de 100 registros nulos

barrels08     0
barrelsA08    0
charge120     0
charge240     0
city08        0
             ..
createdOn     0
modifiedOn    0
phevCity      0
phevHwy       0
phevComb      0
Length: 70, dtype: int64

In [5]:
ColumnasADescartar = list(ColumnasNulas[ColumnasNulas > 10000].index) #Columnas que tienen más de 10k de registros nulos.
#El .index te guarda el nombre de la columna y no su vale (te diga "drive", en lugar de el número de columna)
print(ColumnasADescartar)

['eng_dscr', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr', 'startStop']

In [6]:
DataFrameInicial = DataFrameInicial.drop(ColumnasADescartar, axis = 1) #le pones X=1 porque son COLUMNAS LO que quieres quitar
                                                                       #X=0 son rows
                                                                       #En un plano cartesiano columnas serían Y, filas serían Y

In [7]:
MuestraNulos = DataFrameInicial[(DataFrameInicial['displ'].isnull()==True)]
MuestraNulos

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
7138,0.240,0.0,0.0,0.0,81,0.0000,0,0.0,0.0,41.0000,...,0.0,Midsize Station Wagons,2000,2750,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
7139,0.282,0.0,0.0,0.0,81,0.0000,0,0.0,0.0,41.0000,...,0.0,Sport Utility Vehicle - 2WD,2000,2250,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8143,0.282,0.0,0.0,0.0,81,0.0000,0,0.0,0.0,41.0000,...,0.0,Sport Utility Vehicle - 2WD,2001,2250,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8144,0.312,0.0,0.0,0.0,74,0.0000,0,0.0,0.0,46.0000,...,0.0,Two Seaters,2001,1750,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8146,0.522,0.0,0.0,0.0,45,0.0000,0,0.0,0.0,75.0000,...,0.0,Sport Utility Vehicle - 2WD,2001,-1750,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30969,0.192,0.0,0.0,4.0,120,119.6000,0,0.0,0.0,28.1744,...,0.0,Small Station Wagons,2017,3750,0.00,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0
30972,0.204,0.0,0.0,10.0,98,97.5636,0,0.0,0.0,35.0000,...,0.0,Large Cars,2016,3500,3.75,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0
30973,0.192,0.0,0.0,12.0,101,101.4750,0,0.0,0.0,33.0000,...,0.0,Large Cars,2016,3750,3.75,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0
30974,0.210,0.0,0.0,12.0,92,92.4713,0,0.0,0.0,36.0000,...,0.0,Large Cars,2016,3250,4.75,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0
30975,0.216,0.0,0.0,12.0,91,91.2362,0,0.0,0.0,37.0000,...,0.0,Standard Sport Utility Vehicle 4WD,2016,3250,4.75,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0

In [8]:
MuestraNulos.columns   #Para saber las columnas

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'feScore', 'fuelCost08', 'fuelCostA08',
       'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA', 'highway08',
       'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD', 'highwayE',
       'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make', 'model',
       'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'charge240b',
       'createdOn', 'modifiedOn', 'phevCity', 'phevHwy', 'phevComb'],
      dtype='object')

In [9]:
MuestraNulos = MuestraNulos[['year', 'make', 'model', 'trany', 'fuelType', 'cylinders', 'displ']] #recuerda que estás
#pasando una lista de columnas dentro de la Muestra nulos, por eso son dos corchetes.

In [10]:
DataFrameInicial[['displ', 'cylinders']] = DataFrameInicial[['displ', 'cylinders']].fillna(0)
#.fillna(0) llena los NA por 0 (le puedes poner entre parentesis el valor que quieras)

DataFrameInicial

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1985,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1985,-8500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0.0,Subcompact Cars,1985,500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,0.0,Vans,1985,-8500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-4000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37838,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-750,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37839,14.330870,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37840,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37841,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37842,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0

In [21]:
#Limpiar de drive y trany. QUITAR NAN
DataFrameInicial[['drive','trany']] = DataFrameInicial[['drive','trany']].fillna(0)  #para reemplazar los nan de trany y drive

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
21506,18.311667,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1986,-2500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0

In [22]:
#Verificar si hay valores nulos espúreos
MuestraPrueba = DataFrameInicial[(DataFrameInicial['cylinders'] == 0) & (DataFrameInicial['displ']!=0)]
MuestraPrueba     #Te muestra los cilindros que son cero y que no tienen un display igual a cero. Entonces es espúreo porque #cars

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
21506,18.311667,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1986,-2500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0

In [26]:
DataFrameInicial.loc[(DataFrameInicial['cylinders']==0) & (DataFrameInicial['displ']!=0), 'cylinders'] = 4
#Lo que cumpla con los dos condicionees, "cylinders sean cero" y "display no sea 0", en la colulmna cylinders la vas a poner en 4

#Comprobación
dato = DataFrameInicial.loc[21506]
dato['cylinders']

4.0

In [32]:
#Datos que varían poco (variabilidad baja)
import numpy as numpy

VariabilidadBaja = []

for col in DataFrameInicial._get_numeric_data():
    minimo = min(DataFrameInicial[col])
    percentil90 = numpy.percentile(DataFrameInicial[col],90)  #si 90% de los datos están agrupados en el valor minimo, entonces no varía y los quitamos
    if percentil90 == minimo:                                  #percentile es una función de numpy
        VariabilidadBaja.append(col)

print(VariabilidadBaja)

['barrelsA08', 'charge120', 'charge240', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2A', 'co2TailpipeAGpm', 'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'fuelCostA08', 'ghgScoreA', 'highwayA08', 'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF', 'phevBlended', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy', 'rangeHwyA', 'UCityA', 'UHighwayA', 'charge240b', 'phevCity', 'phevHwy', 'phevComb']

In [33]:
DataFrameInicial = DataFrameInicial.drop(VariabilidadBaja, axis = 1)
#Limpia a los variables que no tienen variabiliad

In [35]:
#Para describir tu base datos
DataFrameInicial.describe()

,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,cylinders,displ,engId,...,hpv,id,lv2,lv4,pv2,pv4,UCity,UHighway,year,youSaveSpend
count,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,...,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000
mean,17.532506,17.941389,4.042737,61.503713,473.179736,20.195809,4.549751,5.719446,3.307658,8860.308961,...,10.424332,19019.286235,1.849219,6.165658,13.696113,33.769125,22.587229,33.619221,2000.064398,-2658.999022
std,4.575950,6.660360,9.645820,153.387715,122.188847,6.623444,10.389994,1.778959,1.371982,17829.683477,...,28.148770,11034.784855,4.429983,9.743297,31.269930,45.914462,9.350163,10.048326,10.390588,2553.098329
min,0.060000,6.000000,0.000000,-1.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1984.000000,-22250.000000
25%,14.330870,15.000000,0.000000,-1.000000,388.000000,17.000000,0.000000,4.000000,2.200000,0.000000,...,0.000000,9461.500000,0.000000,0.000000,0.000000,0.000000,18.000000,27.100000,1990.000000,-4250.000000
50%,17.347895,17.000000,0.000000,-1.000000,467.736842,19.000000,0.000000,6.000000,3.000000,211.000000,...,0.000000,18923.000000,0.000000,0.000000,0.000000,0.000000,21.000000,33.000000,2001.000000,-2500.000000
75%,20.600625,20.000000,0.000000,-1.000000,555.437500,23.000000,0.000000,6.000000,4.300000,4505.000000,...,0.000000,28570.500000,0.000000,13.000000,0.000000,91.000000,25.139300,38.109600,2009.000000,-750.000000
max,47.087143,138.000000,138.304000,847.000000,1269.571429,124.000000,124.360100,16.000000,8.400000,69102.000000,...,195.000000,38173.000000,41.000000,55.000000,194.000000,192.000000,197.577100,159.100000,2017.000000,4000.000000

In [37]:
Analisis = DataFrameInicial.describe().transpose()  #Si quieres cambiar la presentación de datos
Analisis

,count,mean,std,min,25%,50%,75%,max
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100
cylinders,37843.0,5.719446,1.778959,0.00,4.00000,6.000000,6.000000,16.000000
displ,37843.0,3.307658,1.371982,0.00,2.20000,3.000000,4.300000,8.400000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000

In [43]:
#Crear columna para hacer calcula entre dif percentil 75 y 25
Analisis['Intercuartil'] = Analisis['75%'] - Analisis['25%']
Analisis

,count,mean,std,min,25%,50%,75%,max,Intercuartil
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143,6.269755
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000,5.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000,0.000000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000,0.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429,167.437500
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000,6.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100,0.000000
cylinders,37843.0,5.719446,1.778959,0.00,4.00000,6.000000,6.000000,16.000000,2.000000
displ,37843.0,3.307658,1.371982,0.00,2.20000,3.000000,4.300000,8.400000,2.100000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000,4505.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000,700.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000,7.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000,0.000000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000,0.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000,0.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000,19109.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000,0.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000,13.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000,0.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000,91.000000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100,7.139300
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000,11.009600
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000,19.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000,3500.000000

In [44]:
Resultado = pd.DataFrame(columns=DataFrameInicial.columns)
Resultado

Empty DataFrame
Columns: [barrels08, city08, city08U, co2, co2TailpipeGpm, comb08, comb08U, cylinders, displ, drive, engId, feScore, fuelCost08, fuelType, fuelType1, ghgScore, highway08, highway08U, hlv, hpv, id, lv2, lv4, make, model, mpgData, pv2, pv4, trany, UCity, UHighway, VClass, year, youSaveSpend, createdOn, modifiedOn]
Index: []

[0 rows x 36 columns]

In [54]:
for row in Analisis.index: 
    intercuartil = Analisis.at[row, "Intercuartil"]  #.at significa "en" y busca en row y en la columna "Intercuartil"
    temporal = intercuartil * 1.5                
    baja = Analisis.at[row, "25%"] - temporal   
    alta = Analisis.at[row, "75%"] + temporal
    resultados = DataFrameInicial[(DataFrameInicial[row]<baja) | (DataFrameInicial[row]>alta)].copy() 
    resultados['Resultados'] = row
    Resultado = Resultado.append(resultados)

Resultado

,Resultados,UCity,UHighway,VClass,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,...,lv4,make,model,modifiedOn,mpgData,pv2,pv4,trany,year,youSaveSpend
47,barrels08,11.0000,15.0,Vans,32.961000,9,0.0,-1,888.700000,10,...,0,Dodge,B150/B250 Wagon 2WD,Tue Jan 01 00:00:00 EST 2013,N,0,0,Automatic 3-spd,1985,-10000
58,barrels08,12.0000,15.0,Vans,32.961000,10,0.0,-1,888.700000,10,...,0,Dodge,B350 Wagon 2WD,Tue Jan 01 00:00:00 EST 2013,N,0,0,Automatic 3-spd,1985,-10000
69,barrels08,12.0000,15.0,Vans,32.961000,10,0.0,-1,888.700000,10,...,0,Dodge,B350 Wagon 2WD,Tue Jan 01 00:00:00 EST 2013,N,0,0,Automatic 3-spd,1985,-10000
80,barrels08,11.0000,14.0,Vans,32.961000,9,0.0,-1,888.700000,10,...,0,Dodge,B350 Wagon 2WD,Tue Jan 01 00:00:00 EST 2013,N,0,0,Automatic 3-spd,1985,-10000
275,barrels08,11.0000,16.0,Standard Pickup Trucks,32.961000,9,0.0,-1,888.700000,10,...,0,Chevrolet,C1500 Pickup 2WD,Tue Jan 01 00:00:00 EST 2013,N,0,0,Automatic 4-spd,1993,-10000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37475,youSaveSpend,8.0000,14.0,Two Seaters,41.201250,7,0.0,-1,1110.875000,8,...,0,Vector,W8,Tue Jan 01 00:00:00 EST 2013,N,0,0,Automatic 3-spd,1993,-18500
37615,youSaveSpend,13.0000,20.0,Subcompact Cars,27.467500,11,0.0,-1,740.583333,12,...,0,Jaguar,XJRS Coupe,Tue Jan 01 00:00:00 EST 2013,N,77,0,Automatic 3-spd,1993,-10250
37672,youSaveSpend,11.1111,18.0,Subcompact Cars,29.964545,9,0.0,-1,807.909091,11,...,0,Rolls-Royce,Continental,Tue Jan 01 00:00:00 EST 2013,N,82,0,Automatic 4-spd,1993,-11750
37673,youSaveSpend,11.1111,18.0,Subcompact Cars,29.964545,9,0.0,-1,807.909091,11,...,0,Rolls-Royce,Corniche IV,Tue Jan 01 00:00:00 EST 2013,N,82,0,Automatic 4-spd,1993,-11750
37827,youSaveSpend,12.0000,20.0,Compact Cars,29.964545,10,0.0,-1,807.909091,11,...,0,Rolls-Royce,Continental R,Tue Jan 01 00:00:00 EST 2013,N,89,0,Automatic 4-spd,1993,-11750

In [55]:
DataFrameInicial.dtypes

barrels08         float64
city08              int64
city08U           float64
co2                 int64
co2TailpipeGpm    float64
comb08              int64
comb08U           float64
cylinders         float64
displ             float64
drive              object
engId               int64
feScore             int64
fuelCost08          int64
fuelType           object
fuelType1          object
ghgScore            int64
highway08           int64
highway08U        float64
hlv                 int64
hpv                 int64
id                  int64
lv2                 int64
lv4                 int64
make               object
model              object
mpgData            object
pv2                 int64
pv4                 int64
trany              object
UCity             float64
UHighway          float64
VClass             object
year                int64
youSaveSpend        int64
createdOn          object
modifiedOn         object
dtype: object

In [61]:
DataFrameInicial['year'] = DataFrameInicial['year'].astype('object')  #transformar dato
print(DataFrameInicial['year'].dtype)

set(DataFrameInicial['trany'])   #datos únicos

object

{0,
 'Auto (AV)',
 'Auto (AV-S6)',
 'Auto (AV-S8)',
 'Auto(A1)',
 'Auto(AM-S6)',
 'Auto(AM-S7)',
 'Auto(AM-S8)',
 'Auto(AM-S9)',
 'Auto(AM5)',
 'Auto(AM6)',
 'Auto(AM7)',
 'Auto(AM8)',
 'Auto(AV-S6)',
 'Auto(AV-S7)',
 'Auto(AV-S8)',
 'Auto(L3)',
 'Auto(L4)',
 'Automatic (A1)',
 'Automatic (A6)',
 'Automatic (AM5)',
 'Automatic (AM6)',
 'Automatic (AV)',
 'Automatic (AV-S6)',
 'Automatic (S4)',
 'Automatic (S5)',
 'Automatic (S6)',
 'Automatic (S7)',
 'Automatic (S8)',
 'Automatic (S9)',
 'Automatic (variable gear ratios)',
 'Automatic 3-spd',
 'Automatic 4-spd',
 'Automatic 5-spd',
 'Automatic 6-spd',
 'Automatic 6spd',
 'Automatic 7-spd',
 'Automatic 8-spd',
 'Automatic 9-spd',
 'Manual 3-spd',
 'Manual 4-spd',
 'Manual 4-spd Doubled',
 'Manual 5 spd',
 'Manual 5-spd',
 'Manual 6-spd',
 'Manual 7-spd',
 'Manual(M7)'}

In [69]:
#Reemplazando valores para limpiarlos
DataFrameInicial['trany'] = DataFrameInicial['trany'].str.replace('-', ' ')
DataFrameInicial['trany'] = DataFrameInicial['trany'].str.replace('Automatic', 'Auto')
DataFrameInicial['trany'] = DataFrameInicial['trany'].str.replace('Auto ', 'Auto')
DataFrameInicial['trany'] = DataFrameInicial['trany'].str.replace(' ', '')
DataFrameInicial['trany'] = DataFrameInicial['trany'].str.replace('(', '')
DataFrameInicial['trany'] = DataFrameInicial['trany'].str.replace(')', '')


set(DataFrameInicial['trany']) #con esto quitaste guiones y homogenizaste los automatic a auto

{'Auto3spd',
 'Auto4spd',
 'Auto5spd',
 'Auto6spd',
 'Auto7spd',
 'Auto8spd',
 'Auto9spd',
 'AutoA1',
 'AutoA6',
 'AutoAM5',
 'AutoAM6',
 'AutoAM7',
 'AutoAM8',
 'AutoAMS6',
 'AutoAMS7',
 'AutoAMS8',
 'AutoAMS9',
 'AutoAV',
 'AutoAVS6',
 'AutoAVS7',
 'AutoAVS8',
 'AutoL3',
 'AutoL4',
 'AutoS4',
 'AutoS5',
 'AutoS6',
 'AutoS7',
 'AutoS8',
 'AutoS9',
 'Autovariablegearratios',
 'Manual3spd',
 'Manual4spd',
 'Manual4spdDoubled',
 'Manual5spd',
 'Manual6spd',
 'Manual7spd',
 'ManualM7',
 nan}

In [74]:
#Para quitar duplicado
antes = len(DataFrameInicial)
antes  #verificas cuántos datos hay

DataFrameInicial.drop_duplicates()  #afecta el dataframe y entonces no es necesario guardarlo


despues = len(DataFrameInicial)
despues

#En este caso no se quita ningún duplicaod porque no hay

37843

In [82]:
ColumnasSeleccionadas = ['make', 'model', 'year', 'displ', 'cylinders', 'trany', 'drive', 'VClass', 'fuelType',
                        'barrels08', 'city08', 'highway08', 'comb08', 'co2TailpipeGpm', 'fuelCost08']
DataFrameInicial = DataFrameInicial[ColumnasSeleccionadas].drop_duplicates()  #Haces el subset para reducir un numero determinado
#de columnas quita los duplicados. Esta vez sí quita

despues = len(DataFrameInicial)
despues

36958